@import '../setup/colors';
@import '../setup/mixins';

#header {
    height: 120px;
    background: $primary-grey;
    border-bottom: 1px solid $border-grey;

    // linha de cima
    .search-line {

        height: 78px;
        width: 100%;
        padding-top: 15px;

        // caixa de pesquisa principal
        .searchbox {
            position: relative;
            max-width: 600px;
            height: 45px;
            border-radius: 3px;
            background: #fff;
            border: 1px solid $border-grey-2;
            padding: 0px;

            input {
                border: 0px;
                width: calc( 100% - 44px );
                outline: none;
                font-size: 15px;
                padding: 11px 15px;
            }

            button {
                height: 45px;
                margin-top: -1px;
                margin-right: -1px;
                width: 45px;
                border-radius: 0px 5px 3px 0px;
                border: 0;
                float: right;
                background: $primary-blue;
                color: #fff;
                outline: none;

                &:hover {
                    background: #6EA4FF;
                }

                &:active {
                    outline: none;
                    transform: scale(1.1)
                }
            }
        }

        // botoes
        .btn {
            margin-top: 7px;
        }

        // avatar
        .item {
            display: block;
            float: right;

            &.avatar {
                margin-left: 10px;
                width: 40px;
                border-radius: 50%;
                overflow: hidden;
                padding: 0px;
                margin-top: 5px;

                img {
                    width: 100%;
                }
            }
        }
    }

    // Tabs de navegacao
    .tabs-line {
        height: 43px;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        .tab {
            @include dark-font(0.6);
            display: inline-block;
            font-weight: bold;
            font-size: 15px;
            padding: 10px 20px;
            border-radius: 5px 5px 0px 0px;
            transition: .5s;
            word-break: keep-all ;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: $primary-blue;
                text-decoration: none;
            }

            &.active {
                background: #fff;
                border: 1px solid $border-grey;
                border-bottom: 0;

                &:hover {
                    cursor: auto;
                    @include dark-font(0.6); 
                    text-decoration: none;
                }
            }
        }
    }
}