@import "../setup/colors";

#projetos {
    padding: 0px;
    padding-top: 25px;

    .actions {
        margin-bottom: 15px;
    }

    .projeto {
        padding: 0px;
        
        .projeto-item {
            margin: 10px;
            border-radius: 1px;
        }
    }
}